<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <% include partials/head.html%>
    <title>WINE-<%=title%></title>
    <link href="css/block.css" type="text/css" rel="stylesheet">
</head>
<body>
<% include partials/navigation.html%>

<div class="general-container">
    <div class="main-block">
        <img class="nImgMainBlock" src="img/beer.jpg">
        <img class="smImgMainBlock" src="img/Smbeer.jpg">
        <div class="content1">
            <div class="content-text">
                <h1>¿No sabes que hacer ahora?</h1>
                <p>Dejanos encargarnos de eso</p>
                <a href="#" class="content-btn">Match</a>
            </div>
        </div>
    </div>
    <div class="second-block">
        <img class="nImgMainBlock" src="img/resturant-ligar.jpg">
        <img class="nImgMainBlockMini" src="img/resturant-ligar-sm.jpg">
        <div class="content2">
            <div class="content-text">
                <h1 class="title">Mesa para dos por favor</h1>
                <p class="text"><strong>Ve a la fija</strong> con nuestra herramienta podras reservar una mesa, un sitio
                    o una entrada donde quieras y cuando quieras</p>
                <a href="encuentros.html" class="content-btn">Ver</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="img/multi_toast.jpg">
                        <h2 class="front-title">Únetenos</h2>
                    </div>
                    <div class="flip-card-back">
                        <h2 class="card-title">Únetenos</h2>
                        <p class="cardText">Integrate en nuestra comunidad y accede a las mejores ofertas y servicios
                            que tenemos para ti</p>
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="img/food.jpg">
                        <h2 class="front-title">Carta</h2>
                    </div>
                    <div class="flip-card-back">
                        <h2 class="card-title">Carta</h2>
                        <p class="cardText">Mira la carta, sus precios y puntuacion. Sientete comodo de elegir tu plato
                            ideal</p>
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="img/bussines/bussines1.jpg">
                        <h2 class="front-title">Empresa</h2>
                    </div>
                    <div class="flip-card-back">
                        <h2 class="card-title">Empresa</h2>
                        <p class="cardText">¿Tienes una empresa?<br>No esperes mas y publicala aquí ahora mismo</p>
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm-card">
            <div class="content">
                <img class="sm-card-img" src="img/multi_toast.jpg">
                <div class="card-content-text">
                    <h3 class="title">Únetenos</h3>
                    <p class="smText">Integrate en nuestra comunidad y accede a las mejores ofertas y servicios que
                        tenemos para ti</p>
                    <div class="sm-card-btn">
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <img class="sm-card-img" src="img/food.jpg">
                <div class="card-content-text">
                    <h3 class="title">Carta</h3>
                    <p class="smText">Mira la carta, sus precios y puntuacion. Sientete comodo de elegir tu plato
                        ideal</p>
                    <div class="sm-card-btn">
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <img class="sm-card-img" src="img/bussines/bussines1.jpg">
                <div class="card-content-text">
                    <h3 class="title">Empresa</h3>
                    <p class="smText">¿Tienes una empresa? No esperes mas y publicala aquí ahora mismo</p>
                    <div class="sm-card-btn">
                        <a href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
