<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include partials/static-head.html%>
    <link href="css/infoStyle.css" type="text/css" rel="stylesheet" />
    <title>WINE-<%=title%></title>
  </head>

  <body>
    <% include partials/navigation.html%>
    <div class="general-container">
      <div class="info-containner">
        <div class="content">
          <img class="middle-img" src="img/smile2.jpg" />
          <div class="content-text">
            <h2>Conocenos</h2>
            <p>
              Amamos ayudar a la gente a ser feliz.<br />Nuestra meta es crear
              momentos divertidos y unicos en los que puedas compartir y
              disfrutar
            </p>
          </div>
        </div>
        <div class="content">
          <div class="row-block">
            <div class="column-right">
              <h2>Por qué elegirnos</h2>
              <p>
                Nuestro sistema se basa en darle al usuario una experencia
                unica, comparando multiples resultados, como lo son tiempo de
                espera, atencion, calidad, ambiente, opiniones y muchos otros,
                para brindarle el lugar indicado y lograr un Brindis
              </p>
            </div>
            <div class="column-right">
              <div class="content-img">
                <img class="column-img" src="img/brindis-moment.jpg" />
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-text">
            <h2>Privacidad y Seguridad</h2>
            <p>
              Tu privacidad es lo mas importante, con nuestro sistema de clave
              dinamica y el hitorial de pagos estaras seguro y al tanto de lo
              que pasa en tu cuenta.
            </p>
          </div>
        </div>
      </div>
    </div>
    <% include partials/footer.html%>
    <script src="Js/top-navBar.js"></script>
  </body>
</html>
