
<footer>
    <div class="footer-container">
        <div class="row-container">
            <h3>Siguenos</h3>
            <a class="icon" href="#"><img src="icons/facebook.png"></a>
            <a class="icon" href="#"><img src="icons/twitter.png"></a>
            <a class="icon" href="#"><img src="icons/pinterest.png"></a>
            <a class="icon" href="#"><img src="icons/instagram.png"></a>
        </div>
        <div class="row">
            <div class="column">
                <h3>Nosotros</h3>
                <a href="#">Compañia</a>
                <a href="#">Proyectos</a>
            </div>
            <div class="column">
                <h3>Legal</h3>
                <a href="#">Terminos</a>
                <a href="#">Politicas</a>
                <a href="#">Privacidad</a>
            </div>
            <div class="column">
                <h3>Ayuda</h3>
                <a href="#">Sociedad</a>
                <a href="#">Planes y precios</a>
                <a href="#">Soporte</a>
            </div>
            <div class="column">
                <h3>Contacto</h3>
                <p><img class="cImg" src="icons/phone.png"><b>+57-311-829-4303</b></p>
                <p><img class="cImg" src="icons/envelope.png"><b>mateomnotabaron@gmail.com</b></p>
                <p><img class="cImg github" src="icons/github.png"><b>@mateombar</b></p>
            </div>

        </div>
        <div class="sub-footer-container">
            <hr>
            <p class="description">Este fue un proyecto hecho por Mateo Montanez Baron cuando tenia 18 años (2019).<br>Fue su primera vez haciendo una pagina web y a partir de aquí, él decidió ser Frontend Developer<br>Hoy día, (01/12/2021) Mateo ha decidido subir su proyecto a Github. Ha pasado poco más de un año desde la creacion de este proyecto y el crecimiento profesional y educacional de Mateo ha mejorado de manera exponecial</p>
            <p><img class="img" src="icons/copyright.png">2019 Todos los derechos reservados</p>
            <p>Create By: Brayan Mateo Montañez Baron</p>
        </div>
    </div>
</footer>

<script src="Js/navBar.js"></script>