<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/">
                BRINDIS
            </a>

        </div>
        <div class="menu">
            <ul>
                <!-- <li><a href="/encuentros">Encuentros</a></li> -->
                <li><a href="/carta">Carta</a></li>
                <li><a href="/info">Mas Informacion</a></li>
                <li><a class="active" href="#">Iniciar Sesion</a></li>
            </ul>
        </div>
    </nav>
</header>